name: Memory Analysis

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  analyze-esp32s3:
    if: ${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}
    runs-on: ubuntu-24.04
    name: Memory Analysis - ESP32-S3
    container: espressif/idf:v5.3.1
    steps:
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Clone LVGL as a Component
      uses: actions/checkout@v6
      with:
        path: components/lvgl

    - name: Copy IDF Project Example
      run: . /opt/esp/idf/export.sh && cp -r $IDF_PATH/examples/get-started/hello_world/* .

    - name: Set Target ESP32S3
      run: . /opt/esp/idf/export.sh && idf.py set-target esp32s3

    - name: Build
      run: . /opt/esp/idf/export.sh && idf.py build

    - name: Analyze Memory with MemBrowse
      id: membrowse
      uses: membrowse/membrowse-action@main
      with:
        elf: build/hello_world.elf
        ld: "build/esp-idf/esp_system/ld/memory.ld"
        target_name: esp32s3-lvgl

    - name: Comment on PR
      if: github.event_name == 'pull_request'
      uses: membrowse/membrowse-action/comment-action@main
      with:
        report_path: ${{ steps.membrowse.outputs.report_path }}
